@import "./header.scss";
body {
    .avatar {
        width: 100px;
        height: 100px;
        transform: translate(100px, 100px);
    }
    .footer {
        width: 200px;
        height: 300px;
    }
}